<section id="admin" class="clearfix">
	<aside class="nav-panel">
	
		<div><h3><big><big><center>Admin</h3>
		</div>

		<ul>
			<li><a ui-sref="admin.dash"><center><big>All Products</a></li>
			<hr class = "style18">
			<li><a ui-sref="admin.add_product"><center><big>Add New Product</a></li>
			<hr class = "style18">
			<li><a ng-click="ctrl.logout()"><center><big>Log Out</a></li>
			<hr class = "style18">
		</ul>
		<img class = "techpic" src = "assets/NewPics/tech.jpg">
	</aside>

	<article class="main-content">
		<div ui-view=""></div>
	</article>
</section>